// Colors
$primary:#5b9541;
$secondary:#959595;
$light_gray:#f6f6f6;
$light_gray-2:#f3f3f3;
$gray:#5d5d5d;
$gray2:#959595;
$white:white;
$body-color:#fcfcfc;
$red: red;

// Fotns
// Paragraph
$para-default : 17px;
$para-lineheight : 31px;
$para-color : #313131;
$para-color-light : #7e7e7e;

// Heading
$heading-color : #221d1e;

$heading : 'Poppins', sans-serif;
$para : 'Poppins', sans-serif;
