// Background Colors
.vm_bg_green {background : $primary !important;}
.vm_bg_gray {background : $gray !important;}
.vm_bg_gray2 {background : $gray2 !important;}
.vm_bg_light_gray {background : $light_gray !important;}
.vm_bg_light_gray2 {background : $light_gray-2 !important;}
.vm_bg_red {background : $red !important;}

// Font Colors
.vm_text_green {color : $primary !important;}
.vm_text_gray {color : $gray !important;}
.vm_text_light_gray {color : $light_gray !important;}
.vm_text_light_gray2 {color : $light_gray-2 !important;}
.vm_text_red {color : $red !important;}

// Cursor
.vm_cursor_pointer {cursor: pointer;}

// Border Colors
.vm_border_gray {border-color: $gray;}
